.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(233, 233, 233, 1);
}

.card__name {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
}

@media screen and (max-width: 630px) {
  .card {
    width: 164px;
    height: 164px;
  }

  .card__name {
    top: 7px;
    left: 44px;
  }

  .card__name:last-of-type {
  }
}
