.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__nav {
  display: none;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__date {
  padding: 0 24px;
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}
.header__clothes-button {
  /* margin-left: auto; */
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-right: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.header__profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__profile-name {
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__button {
  background-color: transparent;
  border: none;
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__button:hover {
  cursor: pointer;
}
