.modal__content_type_preview {
  padding: 0;
  overflow: hidden;
}

.modal__image_type_preview {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.modal__footer {
  margin: 20px 32px 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__caption {
  margin: 0;
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__weather {
  margin: 32px;
  font-family: "cabinet-grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__delete-button {
  margin: 0;
  padding: 0;
  border: none;
  color: #ff4d00;
  cursor: pointer;
}
